<div class="container mainpage">
	<h1>Welcome to my Personal Task Manager!</h1>
	<h2>By using it you can:</h2>
	<ul>
		<li>First</li>
		<li>Second</li>
	</ul>
	<p>To get started <%= link_to "sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> please. </p>
</div>