@import "bootstrap";
.main {
	padding-top:1em;
	background-color: #999999;
}
article.task {
	margin-bottom: .5px;
	padding: 1em 0;
	border-bottom: 1px solid #333333;
}
h1, h2 {
	margin-bottom: 0;
}
section.task-meta {
	text-align: right;
}
section.task-description {
	padding-top: 1em;
}
article.task-show {
	margin-bottom: .5px;
	padding: 1em 0;
}
.field_with_errors {
	label {
		color: #d01612;
	}
	input {
		border-color: #d01612;
	}
}
.nested_nav {
	margin-left: 1em;
}
.main_buttons_panel{
	padding-top: .5em;
}
.edit_user.error_explanation {
	color: #d01612;
}
.navigation {
	background-color:  #333333;
}
.buttons {
	padding-top: .6em;
	align: right;
}
section.tasks {
	padding-top: 1em;
}
.submenu_nav{
	padding-top: 1em;
}
.submenu {
	border-right: 1px solid #333333;
}
.back {
	background-color: #999999;
}
.bback {
	background-color: #999999;
}
.navcon{
	background-color: #333333;
}
.mainpage {
	border-right: 1px solid #333333;
	border-left: 1px solid #333333;
}