@import "bootstrap";
.main {
	padding-top:20em;
}
article.task {
	margin-bottom: 1em;
	padding: 1em 0;
	border-bottom: 1px solid lightblue;
}
h2 {
	margin-bottom: 0;
}
section.task-summary {
	padding: .5em 0;
}